* {
    margin: 0px;
    padding: 0px;
}

.manu-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
    color: aliceblue;


}

.company-Logo {
    text-align: start;

}

.manu-items {
    display: flex;



}

.manu-items li {
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

.manu-items li:hover {
    color: blue;
    cursor: pointer;
}

.banner-container {
    color: aliceblue;
    align-items: center;
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
    height: 100vh;
    background-color: black;



}

.banner-img {
    margin-top: 85px;
}

.banner-text {
    color: red;
    font-size: 28px;
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.text {
    font-size: 25px;
    margin: 10px;
}

.banner-descreiption {
    margin-left: 50px;
}

.banner-btn {
    padding: 15px 30px;
    margin: 10px;
    background-color: red;
    border-radius: 5px;
}

.section-2 {
    margin-top: 80px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;

}

.title-2 {
    text-align: center;
    margin-top: 20px;

}

.card-1 {

    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    transition: .8ms;
}

.card-1:hover {
    border: 1px solid red;
    margin-top: -2px;
    transition: .8ms;

}

.dambel {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.about-container {
    display: flex;
    background-color: black;
    padding: 20px;
    margin-top: 50px;
}

.about-left {
    width: 700px;
    /* border: 1px solid red; */


}

.about-right {
    width: 700px;
    /* border: 1px solid black; */
    margin-top: 20px;
    color: aliceblue;
    text-decoration: none;


}

.workout-img {
    background-image: url(images/bg-1.jpg);
    background-repeat: no-repeat;



}

.workout-img img {
    width: 300px;
    height: 400px;
    transform: skewY(-15deg);

}

.about-descreption {
    align-items: center;
}

.text {
    margin: 10px;
}

ul {
    margin-top: 20px;
}

ul li {
    margin-top: 10px;
    margin-left: 30px;
}